.left{
  width: 350px;
  height: 800px;
  display: inline-block;
  padding: 5px;
  margin: 15px;
}
.right{
  width: 600px ;
  height: 800px;
  position: absolute;
  display: inline-flex;
  padding: 25px;
}
